@media (max-width: 768px) {
    h1 {
    margin: 20px 0 16px;
    font-size: 40px;
    text-shadow: #fff 2px 2px 4px;
    }   

    section .row {
        gap: 12px;
        margin-bottom: 24px;
    }

    .gallery {
        width: calc(50% - 12px);
        height: 300px;
        margin: auto;
    }


    .popup img {
        height: 75vh;
    }

    .arrowLeft {
        left: 10px;
    }

    .arrowRight {
        right: 10px;
    }

    .zoomIn {
        right: 100px;
    }

    .zoomOut {
        right: 50px;
    }
}