@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(https://img.freepik.com/free-photo/close-shot-microphone-near-drum-with-smoke_181624-3758.jpg?semt=ais_hybrid&w=740&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: auto;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 46px;
    gap: 16px;
}

h1 {
    text-align: center;
    margin: 36px 0 44px;
    font-size: 70px;
    text-shadow: #fff 2px 2px 4px;
    font-family: "Pirata One", system-ui;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: calc(25% - 16px);
    height: 400px;
    overflow: hidden;
    position: relative;
}



.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
    transition: all 0.35s;
}

.popup {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}

.zoomIn, 
.zoomOut,
.cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.zoomIn:active,
.zoomOut:active,
.cancel:active {
    transform: scale(0.9);
    transition: all 0.25s;
}

.zoomIn {
    right: 70px;
}

.zoomOut {
    right: 120px;
}

.popup img {
    width: 100%;
    max-width: 600px;
    height: 500px;
}

.arrowLeft, 
.arrowRight {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: transparent;
    border: none;
    font-size: 45px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s;
    cursor: pointer;
}

.arrowLeft {
    left: 50px;
}

.arrowRight:active,
.arrowLeft:active {
    transform: translateY(-50%) scale(0.9);
    transition: all 0.25s;
}

.arrowRight {
    right: 50px;
}